.flows.json.backup
[{"id":"a5eaaa27.0ae2b","type":"tab","label":"rpi - Basic input","disabled":false,"info":""},{"id":"a005f408.99a35","type":"tab","label":"rpi - ledMsg","disabled":false,"info":""},{"id":"765afee5.2191","type":"tab","label":"rpi - Read Sensors","disabled":false,"info":""},{"id":"a0ffaf5.ee9675","type":"tab","label":"rpi - Sensor Gauge","disabled":false,"info":""},{"id":"26461922.47e066","type":"tab","label":"rpi - Display Alert","disabled":false,"info":""},{"id":"e103f6e1.59d668","type":"tab","label":"rpi - Sensor  Write file","disabled":false,"info":""},{"id":"acc91b3f.e85a58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c8ff1373.5ff03","type":"ui_group","z":"","name":"Tables","tab":"62146d49.30214c","order":2,"disp":true,"width":"6","collapse":false},{"id":"62146d49.30214c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"30dcae77.83a51a","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f3b0e886.bd73c","type":"ui_group","z":"","name":"Local Env","tab":"8d04be0e.ea1f48","order":1,"disp":true,"width":"6","collapse":false},{"id":"93683d86.1fa808","type":"ui_group","z":"","name":"Temp on all Tables","tab":"1bd4eb3b.c6130d","order":2,"disp":true,"width":"6","collapse":false},{"id":"8d04be0e.ea1f48","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1bd4eb3b.c6130d","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"870d0cfd.75","type":"ui_group","z":"","name":"Temp on all Tables","tab":"8db3021b.0878d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"46258d4f.7e0bfc","type":"ui_group","z":"","name":"Table 5-8","tab":"8db3021b.0878d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"ae60c57.5f447b8","type":"ui_group","z":"","name":"Table 9-12","tab":"8db3021b.0878d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"8db3021b.0878d8","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c646b048.6bea58","type":"ui_group","z":"","name":"Temp on all Tables","tab":"8d2ffb77.53796","order":1,"disp":true,"width":"6","collapse":false},{"id":"880667f7.873d48","type":"ui_group","z":"","name":"Table 5-8","tab":"8d2ffb77.53796","order":3,"disp":true,"width":"6","collapse":false},{"id":"ae1f65b0.f6939","type":"ui_group","z":"","name":"Table 9-12","tab":"8d2ffb77.53796","order":4,"disp":true,"width":"6","collapse":false},{"id":"235b66aa.87df3a","type":"ui_group","z":"","name":"Table 1","tab":"22d3ebb8.ef61c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"a9140033.63e6d","type":"ui_group","z":"","name":"Table 2","tab":"22d3ebb8.ef61c4","order":2,"disp":true,"width":"6","collapse":false},{"id":"fbef3ff5.0f98c","type":"ui_group","z":"","name":"Table 3","tab":"22d3ebb8.ef61c4","order":3,"disp":true,"width":"6","collapse":false},{"id":"5025f4cf.68d70c","type":"ui_group","z":"","name":"Table 4","tab":"22d3ebb8.ef61c4","order":4,"disp":true,"width":"6","collapse":false},{"id":"b84e3f3b.08b068","type":"ui_group","z":"","name":"Table 5","tab":"22d3ebb8.ef61c4","order":5,"disp":true,"width":"6","collapse":false},{"id":"8d2ffb77.53796","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"22d3ebb8.ef61c4","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"d246ccf7.f34228","type":"ui_group","z":"","name":"Buttons","tab":"1c66e6af.748799","disp":true,"width":"6","collapse":false},{"id":"1c66e6af.748799","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c57f2b3d.eff12","type":"ui_group","z":"","name":"Scene","tab":"1c66e6af.748799","order":2,"disp":true,"width":"6","collapse":false},{"id":"405d3e46.5d93","type":"ui_group","z":"","name":"Table 6","tab":"22d3ebb8.ef61c4","order":6,"disp":true,"width":"6","collapse":false},{"id":"f462f60.9055708","type":"ui_group","z":"","name":"Table 7","tab":"22d3ebb8.ef61c4","order":7,"disp":true,"width":"6","collapse":false},{"id":"c1747af3.48e178","type":"ui_group","z":"","name":"Table 8","tab":"22d3ebb8.ef61c4","order":8,"disp":true,"width":"6","collapse":false},{"id":"83229f34.49fcf8","type":"ui_group","z":"","name":"Table 9","tab":"22d3ebb8.ef61c4","order":9,"disp":true,"width":"6","collapse":false},{"id":"481e4925.efa1e","type":"ui_group","z":"","name":"Table 10","tab":"22d3ebb8.ef61c4","order":10,"disp":true,"width":"6","collapse":false},{"id":"9d179536.f41ae8","type":"ui_group","z":"","name":"Table 11","tab":"22d3ebb8.ef61c4","order":11,"disp":true,"width":"6","collapse":false},{"id":"5986ab71.c9ebbc","type":"ui_group","z":"","name":"Table 12","tab":"22d3ebb8.ef61c4","order":12,"disp":true,"width":"6","collapse":false},{"id":"904ec3dd.1430f","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"f3c4746e.13816","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"fd9f0838.e4ca08","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"c657240c.cf32d","type":"ui_group","z":"","name":"Local Env","tab":"6ae3ed3b.e23fec","disp":true,"width":"6","collapse":false},{"id":"48249865.6b7d98","type":"ui_group","z":"","name":"Tables","tab":"6ae3ed3b.e23fec","order":2,"disp":true,"width":"6","collapse":false},{"id":"6ae3ed3b.e23fec","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"46803265.f88ecc","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3d1873e0.0e1d04","type":"ui_group","z":"","name":"Local Env","tab":"50662553.5201e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a9f0bd1.a22214","type":"ui_group","z":"","name":"Temp on all Tables","tab":"b317816b.bbadb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"50662553.5201e4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b317816b.bbadb8","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6ab6f5e2.eaca94","type":"ui_group","z":"","name":"Temp on all Tables","tab":"42dbf47f.4803dc","order":1,"disp":true,"width":"6","collapse":false},{"id":"e002f81.789c488","type":"ui_group","z":"","name":"Table 5-8","tab":"42dbf47f.4803dc","order":3,"disp":true,"width":"6","collapse":false},{"id":"93283d3e.9760f8","type":"ui_group","z":"","name":"Table 9-12","tab":"42dbf47f.4803dc","order":4,"disp":true,"width":"6","collapse":false},{"id":"42dbf47f.4803dc","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"103d8dcb.6e2b4a","type":"ui_group","z":"","name":"Temp on all Tables","tab":"40320c22.ab25fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f7ffa6a.f54968","type":"ui_group","z":"","name":"Table 5-8","tab":"40320c22.ab25fc","order":3,"disp":true,"width":"6","collapse":false},{"id":"cdc7c421.b60128","type":"ui_group","z":"","name":"Table 9-12","tab":"40320c22.ab25fc","order":4,"disp":true,"width":"6","collapse":false},{"id":"cf477baa.0ab98","type":"ui_group","z":"","name":"Table 1","tab":"18fd605c.7d6d98","order":1,"disp":true,"width":"6","collapse":false},{"id":"1020b042.a04648","type":"ui_group","z":"","name":"Table 2","tab":"18fd605c.7d6d98","order":2,"disp":true,"width":"6","collapse":false},{"id":"8ad2c48b.adbcf8","type":"ui_group","z":"","name":"Table 3","tab":"18fd605c.7d6d98","order":3,"disp":true,"width":"6","collapse":false},{"id":"263e799f.34fbbe","type":"ui_group","z":"","name":"Table 4","tab":"18fd605c.7d6d98","order":4,"disp":true,"width":"6","collapse":false},{"id":"4da2e539.0f8a9c","type":"ui_group","z":"","name":"Table 5","tab":"18fd605c.7d6d98","order":5,"disp":true,"width":"6","collapse":false},{"id":"40320c22.ab25fc","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"18fd605c.7d6d98","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"2bd1a8c3.07d82","type":"ui_group","z":"","name":"Buttons","tab":"cd384a7.fabd9b8","disp":true,"width":"6","collapse":false},{"id":"cd384a7.fabd9b8","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"8e40ee51.046498","type":"ui_group","z":"","name":"Scene","tab":"cd384a7.fabd9b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"391ff8f5.702fa","type":"ui_group","z":"","name":"Table 6","tab":"18fd605c.7d6d98","order":6,"disp":true,"width":"6","collapse":false},{"id":"212c4aa0.6cc9de","type":"ui_group","z":"","name":"Table 7","tab":"18fd605c.7d6d98","order":7,"disp":true,"width":"6","collapse":false},{"id":"71a2eb48.4e8e04","type":"ui_group","z":"","name":"Table 8","tab":"18fd605c.7d6d98","order":8,"disp":true,"width":"6","collapse":false},{"id":"45cee6d2.bc98e8","type":"ui_group","z":"","name":"Table 9","tab":"18fd605c.7d6d98","order":9,"disp":true,"width":"6","collapse":false},{"id":"77fa577a.8eaa2","type":"ui_group","z":"","name":"Table 10","tab":"18fd605c.7d6d98","order":10,"disp":true,"width":"6","collapse":false},{"id":"b0fcfa4d.21ae4","type":"ui_group","z":"","name":"Table 11","tab":"18fd605c.7d6d98","order":11,"disp":true,"width":"6","collapse":false},{"id":"fafba908.17ec58","type":"ui_group","z":"","name":"Table 12","tab":"18fd605c.7d6d98","order":12,"disp":true,"width":"6","collapse":false},{"id":"6ffa346d.7b74cc","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"ea0d5e91.2c3628","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"fd1713c3.f29988","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2f027758.87f3c8","type":"ui_group","z":"","name":"Local Env","tab":"f9756369.98658","disp":true,"width":"6","collapse":false},{"id":"aceaec33.192f08","type":"ui_group","z":"","name":"Tables","tab":"f9756369.98658","order":2,"disp":true,"width":"6","collapse":false},{"id":"f9756369.98658","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cd21dbc2.e343e","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1f074a77.f6ab26","type":"ui_group","z":"","name":"Local Env","tab":"b0648792.080078","order":1,"disp":true,"width":"6","collapse":false},{"id":"d5c1ade.315edd","type":"ui_group","z":"","name":"Temp on all Tables","tab":"d02e5bf1.d3d44","order":2,"disp":true,"width":"6","collapse":false},{"id":"b0648792.080078","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d02e5bf1.d3d44","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"302632b4.ae27de","type":"ui_group","z":"","name":"Temp on all Tables","tab":"ff6ac80.5edd1b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e85b4941.b53668","type":"ui_group","z":"","name":"Table 5-8","tab":"ff6ac80.5edd1b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"d81c9ce7.544d2","type":"ui_group","z":"","name":"Table 9-12","tab":"ff6ac80.5edd1b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"ff6ac80.5edd1b8","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"cb719043.8faad","type":"ui_group","z":"","name":"Temp on all Tables","tab":"b07aed76.5e88e","order":1,"disp":true,"width":"6","collapse":false},{"id":"3871d130.240e1e","type":"ui_group","z":"","name":"Table 5-8","tab":"b07aed76.5e88e","order":3,"disp":true,"width":"6","collapse":false},{"id":"e20fa6e1.864368","type":"ui_group","z":"","name":"Table 9-12","tab":"b07aed76.5e88e","order":4,"disp":true,"width":"6","collapse":false},{"id":"a5de3da.be08c4","type":"ui_group","z":"","name":"Table 1","tab":"8b48123b.1c77d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"af6883fc.1e336","type":"ui_group","z":"","name":"Table 2","tab":"8b48123b.1c77d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a266092f.96b84","type":"ui_group","z":"","name":"Table 3","tab":"8b48123b.1c77d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"ef7eb504.678908","type":"ui_group","z":"","name":"Table 4","tab":"8b48123b.1c77d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"746b4f62.435e28","type":"ui_group","z":"","name":"Table 5","tab":"8b48123b.1c77d8","order":5,"disp":true,"width":"6","collapse":false},{"id":"b07aed76.5e88e","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8b48123b.1c77d8","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"f470529a.90b5a","type":"ui_group","z":"","name":"Buttons","tab":"aec9217b.85e79","disp":true,"width":"6","collapse":false},{"id":"aec9217b.85e79","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"f7c82553.9db128","type":"ui_group","z":"","name":"Scene","tab":"aec9217b.85e79","order":2,"disp":true,"width":"6","collapse":false},{"id":"6a1fbe9.eb1524","type":"ui_group","z":"","name":"Table 6","tab":"8b48123b.1c77d8","order":6,"disp":true,"width":"6","collapse":false},{"id":"9c0c4f17.1f7358","type":"ui_group","z":"","name":"Table 7","tab":"8b48123b.1c77d8","order":7,"disp":true,"width":"6","collapse":false},{"id":"44b161fa.e4b0e8","type":"ui_group","z":"","name":"Table 8","tab":"8b48123b.1c77d8","order":8,"disp":true,"width":"6","collapse":false},{"id":"1f5f3ba1.65a0d4","type":"ui_group","z":"","name":"Table 9","tab":"8b48123b.1c77d8","order":9,"disp":true,"width":"6","collapse":false},{"id":"dce7dd69.5ceed8","type":"ui_group","z":"","name":"Table 10","tab":"8b48123b.1c77d8","order":10,"disp":true,"width":"6","collapse":false},{"id":"a09545bd.b966a","type":"ui_group","z":"","name":"Table 11","tab":"8b48123b.1c77d8","order":11,"disp":true,"width":"6","collapse":false},{"id":"4f76e9ef.66ae88","type":"ui_group","z":"","name":"Table 12","tab":"8b48123b.1c77d8","order":12,"disp":true,"width":"6","collapse":false},{"id":"47d37daa.0fbc04","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"fff10124.ca36b","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"596d7b8c.f40f54","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a3787577.89c0a8","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"831e5526.5d7fc","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"6576a98e.1c16f","type":"ui_group","z":"","name":"Local Env","tab":"fb66818c.5de0a8","disp":true,"width":"6","collapse":false},{"id":"1c362691.b9e191","type":"ui_group","z":"","name":"Tables","tab":"fb66818c.5de0a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"fb66818c.5de0a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2bc1136c.452b64","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"efa4b938.870a2","type":"ui_group","z":"","name":"Local Env","tab":"7184ea67.479dd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"c451429.15c4ec","type":"ui_group","z":"","name":"Temp on all Tables","tab":"af193345.7ff57","order":2,"disp":true,"width":"6","collapse":false},{"id":"7184ea67.479dd4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"af193345.7ff57","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"50a05a62.75913c","type":"ui_group","z":"","name":"Temp on all Tables","tab":"1832da5c.0c2a9e","order":1,"disp":true,"width":"6","collapse":false},{"id":"4ba7730a.00a334","type":"ui_group","z":"","name":"Table 5-8","tab":"1832da5c.0c2a9e","order":3,"disp":true,"width":"6","collapse":false},{"id":"e1480f39.3d3538","type":"ui_group","z":"","name":"Table 9-12","tab":"1832da5c.0c2a9e","order":4,"disp":true,"width":"6","collapse":false},{"id":"1832da5c.0c2a9e","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"23a8bbe5.1d1fe4","type":"ui_group","z":"","name":"Temp on all Tables","tab":"dbced31c.eee49","order":1,"disp":true,"width":"6","collapse":false},{"id":"e8364d0c.9c29d","type":"ui_group","z":"","name":"Table 5-8","tab":"dbced31c.eee49","order":3,"disp":true,"width":"6","collapse":false},{"id":"60d4f9ba.bc9878","type":"ui_group","z":"","name":"Table 9-12","tab":"dbced31c.eee49","order":4,"disp":true,"width":"6","collapse":false},{"id":"899427e9.ac3d7","type":"ui_group","z":"","name":"Table 1","tab":"a0ec5820.c4b3f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"936fbcc7.7bed18","type":"ui_group","z":"","name":"Table 2","tab":"a0ec5820.c4b3f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"77ef037a.5500ac","type":"ui_group","z":"","name":"Table 3","tab":"a0ec5820.c4b3f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"6713441.90b24bc","type":"ui_group","z":"","name":"Table 4","tab":"a0ec5820.c4b3f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"db7065d7.1d04c","type":"ui_group","z":"","name":"Table 5","tab":"a0ec5820.c4b3f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"dbced31c.eee49","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a0ec5820.c4b3f8","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"a2d6da75.f1d03","type":"ui_group","z":"","name":"Buttons","tab":"c9c98e4a.e0faa","disp":true,"width":"6","collapse":false},{"id":"c9c98e4a.e0faa","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"61f3048c.930754","type":"ui_group","z":"","name":"Scene","tab":"c9c98e4a.e0faa","order":2,"disp":true,"width":"6","collapse":false},{"id":"b67b4301.0a6f2","type":"ui_group","z":"","name":"Table 6","tab":"a0ec5820.c4b3f8","order":6,"disp":true,"width":"6","collapse":false},{"id":"62c7ead9.4b2654","type":"ui_group","z":"","name":"Table 7","tab":"a0ec5820.c4b3f8","order":7,"disp":true,"width":"6","collapse":false},{"id":"2d2ea188.2a0506","type":"ui_group","z":"","name":"Table 8","tab":"a0ec5820.c4b3f8","order":8,"disp":true,"width":"6","collapse":false},{"id":"56386742.373a88","type":"ui_group","z":"","name":"Table 9","tab":"a0ec5820.c4b3f8","order":9,"disp":true,"width":"6","collapse":false},{"id":"c4981a74.2170b8","type":"ui_group","z":"","name":"Table 10","tab":"a0ec5820.c4b3f8","order":10,"disp":true,"width":"6","collapse":false},{"id":"cf7b53f0.9ef11","type":"ui_group","z":"","name":"Table 11","tab":"a0ec5820.c4b3f8","order":11,"disp":true,"width":"6","collapse":false},{"id":"453e903a.cb05d","type":"ui_group","z":"","name":"Table 12","tab":"a0ec5820.c4b3f8","order":12,"disp":true,"width":"6","collapse":false},{"id":"7dff5e1a.9666b8","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"134b68dc.97d79f","type":"rpi-sensehat out","z":"a5eaaa27.0ae2b","name":"","x":1430,"y":500,"wires":[]},{"id":"6c09a19e.4d15f","type":"hostip","z":"a5eaaa27.0ae2b","name":"Host IP","x":800,"y":280,"wires":[["c23cba04.536c6"]]},{"id":"c23cba04.536c6","type":"function","z":"a5eaaa27.0ae2b","name":"Host IP Address","func":"msg.payload = msg.payload[0].address\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":400,"wires":[["134b68dc.97d79f"]]},{"id":"25236927.fcae3e","type":"rpi-sensehat in","z":"a5eaaa27.0ae2b","name":"","motion":false,"env":false,"stick":true,"x":180,"y":500,"wires":[["5e4839d1.52ff08","b104cff3.dc4488"]]},{"id":"5e4839d1.52ff08","type":"debug","z":"a5eaaa27.0ae2b","name":"Joystick input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":380,"wires":[]},{"id":"53315e1c.4edb28","type":"rpi-sensehat in","z":"765afee5.2191","name":"","motion":false,"env":true,"stick":false,"x":230,"y":251,"wires":[["574fbc30.044014"]]},{"id":"2e14ccc2.46665c","type":"debug","z":"765afee5.2191","name":"SenseHat Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1034,"y":212,"wires":[]},{"id":"574fbc30.044014","type":"delay","z":"765afee5.2191","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":523,"y":252,"wires":[["3448b87.b0aa0c8"]]},{"id":"3448b87.b0aa0c8","type":"change","z":"765afee5.2191","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":779,"y":244,"wires":[["2e14ccc2.46665c","f309c592.d1b83"]]},{"id":"c3c2ff0a.20a728","type":"rpi-sensehat in","z":"765afee5.2191","name":"","motion":false,"env":true,"stick":false,"x":237.27272033691406,"y":508.1817932128906,"wires":[["b9a89ddd.68c678"]]},{"id":"7fc93cf9.0d9834","type":"debug","z":"765afee5.2191","name":"SenseHat Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1051.272720336914,"y":469.1817932128906,"wires":[]},{"id":"b9a89ddd.68c678","type":"delay","z":"765afee5.2191","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530.2727203369141,"y":509.1817932128906,"wires":[["bd4ef365.7685b8"]]},{"id":"bd4ef365.7685b8","type":"change","z":"765afee5.2191","name":"Set Msg to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":796.2727203369141,"y":501.1817932128906,"wires":[["7fc93cf9.0d9834","4da90ad3.dd69f4"]]},{"id":"6d9ae226.ead9f4","type":"rpi-sensehat in","z":"765afee5.2191","name":"","motion":false,"env":true,"stick":false,"x":220.90908813476562,"y":710.9090576171875,"wires":[["5ca208cd.9464f"]]},{"id":"e4339027.f1d7e","type":"debug","z":"765afee5.2191","name":"SenseHat Pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1034.9090881347656,"y":671.9090576171875,"wires":[]},{"id":"5ca208cd.9464f","type":"delay","z":"765afee5.2191","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":513.9090881347656,"y":711.9090576171875,"wires":[["846338e3.ac50f8"]]},{"id":"846338e3.ac50f8","type":"change","z":"765afee5.2191","name":"Set Msg to Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":779.9090881347656,"y":703.9090576171875,"wires":[["e4339027.f1d7e","32947ff2.8f3e98"]]},{"id":"8636be62.fa4018","type":"comment","z":"765afee5.2191","name":"Limit the amount of data sent to the display","info":"The Raspberry Pi constantly reads the sensors.\n\nThis is a good thing if you want to gragh something but can quickly become overweleming.\n\nThis limits it to only running evey minute.","x":550,"y":320,"wires":[]},{"id":"6ed25650.d8c46","type":"comment","z":"765afee5.2191","name":"Set the Msg to the Temp","info":"This function grabs the temp from the object that is sent by the Raspberry Pi.","x":807,"y":187,"wires":[]},{"id":"3a162a92.ffd95e","type":"comment","z":"765afee5.2191","name":"Select Environment events","info":"Select Environment events","x":279,"y":201,"wires":[]},{"id":"f309c592.d1b83","type":"mqtt out","z":"765afee5.2191","name":"","topic":"sensor/1/temp","qos":"","retain":"","broker":"596d7b8c.f40f54","x":1440,"y":240,"wires":[]},{"id":"4da90ad3.dd69f4","type":"mqtt out","z":"765afee5.2191","name":"","topic":"sensor/1/humidity","qos":"","retain":"","broker":"596d7b8c.f40f54","x":1450,"y":500,"wires":[]},{"id":"32947ff2.8f3e98","type":"mqtt out","z":"765afee5.2191","name":"","topic":"sensor/1/pressure","qos":"","retain":"","broker":"596d7b8c.f40f54","x":1450,"y":700,"wires":[]},{"id":"5c4e4894.d02a68","type":"comment","z":"765afee5.2191","name":"Push Temp vaules to sensor API","info":"","x":1470,"y":180,"wires":[]},{"id":"1f7b659d.19baaa","type":"comment","z":"765afee5.2191","name":"Needs to be updated for every Table","info":"","x":1520,"y":360,"wires":[]},{"id":"7894713.a9f209","type":"ui_gauge","z":"a0ffaf5.ee9675","name":"","group":"efa4b938.870a2","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp in F","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":460,"wires":[]},{"id":"227e0c50.52f68c","type":"rpi-sensehat in","z":"a0ffaf5.ee9675","name":"","motion":false,"env":true,"stick":false,"x":339.1818084716797,"y":459.63635054501617,"wires":[["adf76852.339178"]]},{"id":"e1f3d6d5.45764","type":"debug","z":"a0ffaf5.ee9675","name":"Temp in F","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1038.0908966064453,"y":548.9090861407193,"wires":[]},{"id":"e335be8d.b06bd","type":"ui_gauge","z":"a0ffaf5.ee9675","name":"","group":"efa4b938.870a2","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":902.0908813476564,"y":633.9999694824219,"wires":[]},{"id":"9b3ed3bf.a1663","type":"rpi-sensehat in","z":"a0ffaf5.ee9675","name":"","motion":false,"env":true,"stick":false,"x":370.2726860046388,"y":637.6363220214844,"wires":[["3e5e6000.39dff8"]]},{"id":"3e5e6000.39dff8","type":"change","z":"a0ffaf5.ee9675","name":"Set Msg to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":643.2727050781251,"y":639.9090576171875,"wires":[["e335be8d.b06bd","fe8451b0.b4dc48"]]},{"id":"fe8451b0.b4dc48","type":"debug","z":"a0ffaf5.ee9675","name":"Humidity","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":881.1817779541016,"y":744.9090556231412,"wires":[]},{"id":"7a11fd30.5195ac","type":"ui_gauge","z":"a0ffaf5.ee9675","name":"","group":"efa4b938.870a2","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":931.9090919494629,"y":860.9999980059537,"wires":[]},{"id":"d3061eae.500ab8","type":"rpi-sensehat in","z":"a0ffaf5.ee9675","name":"","motion":false,"env":true,"stick":false,"x":400.0908966064453,"y":864.6363505450162,"wires":[["c1cda34d.675de8"]]},{"id":"c1cda34d.675de8","type":"change","z":"a0ffaf5.ee9675","name":"Set Msg to Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":673.0909156799316,"y":866.9090861407193,"wires":[["7a11fd30.5195ac","16b59319.1fae65"]]},{"id":"16b59319.1fae65","type":"debug","z":"a0ffaf5.ee9675","name":"Pressure","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910.9999885559081,"y":971.909084146673,"wires":[]},{"id":"9aa4e8f2.a2ab4","type":"comment","z":"a0ffaf5.ee9675","name":"To view Gauges go to ip:1880/ui","info":"This is a nother note\n[https://10.0.0.150]()","x":1330,"y":40,"wires":[]},{"id":"f0759e5a.c0c3c","type":"ui_gauge","z":"a0ffaf5.ee9675","name":"","group":"efa4b938.870a2","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp in C","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":855.0908966064453,"y":169.99999800595367,"wires":[]},{"id":"ad78f12d.986c58","type":"rpi-sensehat in","z":"a0ffaf5.ee9675","name":"","motion":false,"env":true,"stick":false,"x":323.27270126342773,"y":173.63635054501617,"wires":[["697d88ef.706f8"]]},{"id":"697d88ef.706f8","type":"change","z":"a0ffaf5.ee9675","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590.2726898193359,"y":172.9090861407193,"wires":[["f0759e5a.c0c3c","86ff4931.c03128"]]},{"id":"86ff4931.c03128","type":"debug","z":"a0ffaf5.ee9675","name":"Temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":260,"wires":[]},{"id":"adf76852.339178","type":"change","z":"a0ffaf5.ee9675","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":611.1817779541016,"y":458.9090861407193,"wires":[["801f7c4e.07f178"]]},{"id":"801f7c4e.07f178","type":"function","z":"a0ffaf5.ee9675","name":"Change to F","func":"msg.payload  = (msg.payload*1.8) + 32;\nreturn msg;","outputs":1,"noerr":0,"x":861.0908966064453,"y":459.99999800595367,"wires":[["7894713.a9f209","e1f3d6d5.45764"]]},{"id":"fc92625e.d229d","type":"comment","z":"a0ffaf5.ee9675","name":"Publish Temp in C to Web Dashboard ","info":"","x":1079.0908966064453,"y":170.99999800595367,"wires":[]},{"id":"5fcd7984.c68a08","type":"comment","z":"765afee5.2191","name":"This reads the current sensor value and posts it to sensor/table#/temp...","info":"","x":590,"y":80,"wires":[]},{"id":"891bfff4.d60088","type":"comment","z":"a5eaaa27.0ae2b","name":"Format Msg","info":"","x":1110,"y":340,"wires":[]},{"id":"79588ae4.d90384","type":"comment","z":"a5eaaa27.0ae2b","name":"Read button press","info":"","x":210,"y":220,"wires":[]},{"id":"a8652d97.d01488","type":"comment","z":"a5eaaa27.0ae2b","name":"get current IP address","info":"","x":820,"y":220,"wires":[]},{"id":"b104cff3.dc4488","type":"switch","z":"a5eaaa27.0ae2b","name":"","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"ENTER","vt":"str"},{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":450,"y":500,"wires":[["6c09a19e.4d15f"],["3e05f664.9c611a"],["8292f8db.0fe9b8"],["7205b43e.09e07c"],["84d133a0.c69d98"]]},{"id":"3e05f664.9c611a","type":"change","z":"a5eaaa27.0ae2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"UP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":440,"wires":[["134b68dc.97d79f"]]},{"id":"8292f8db.0fe9b8","type":"change","z":"a5eaaa27.0ae2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":500,"wires":[["134b68dc.97d79f"]]},{"id":"7205b43e.09e07c","type":"change","z":"a5eaaa27.0ae2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":560,"wires":[["134b68dc.97d79f"]]},{"id":"84d133a0.c69d98","type":"change","z":"a5eaaa27.0ae2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":620,"wires":[["134b68dc.97d79f"]]},{"id":"2fd4ef62.fcdb8","type":"rpi-sensehat out","z":"26461922.47e066","name":"","x":1350,"y":400,"wires":[]},{"id":"649ad2a6.2dc504","type":"looptimer","z":"26461922.47e066","duration":"10","units":"Second","maxloops":"1","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":840,"y":331,"wires":[["2fd4ef62.fcdb8","7656fdb2.011214"],["8156e990.ade05"]]},{"id":"6298565d.30c9d","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227.90908813476562,"y":363.1818642616272,"wires":[["885113fb.11912"]]},{"id":"885113fb.11912","type":"function","z":"26461922.47e066","name":"White on Red","func":"msg.color = \"white\";\nmsg.background = \"red\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":279,"wires":[["649ad2a6.2dc504"]]},{"id":"537a0031.88e6f","type":"rpi-sensehat out","z":"26461922.47e066","name":"","x":1397.5,"y":685,"wires":[]},{"id":"c73bddd4.54b1b8","type":"function","z":"26461922.47e066","name":"Black on Black","func":"msg.color = \"black\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":953.5,"y":622,"wires":[["537a0031.88e6f","7656fdb2.011214"]]},{"id":"65af9e2d.502828","type":"delay","z":"26461922.47e066","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030.5,"y":464,"wires":[["c73bddd4.54b1b8"]]},{"id":"8156e990.ade05","type":"change","z":"26461922.47e066","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":935.5,"y":411,"wires":[["65af9e2d.502828"]]},{"id":"208987b9.509038","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":540,"wires":[["e6692544.1d0b7"]]},{"id":"e6692544.1d0b7","type":"mqtt out","z":"26461922.47e066","name":"","topic":"alert/red","qos":"","retain":"","broker":"7dff5e1a.9666b8","x":530,"y":540,"wires":[]},{"id":"9b088946.a65858","type":"mqtt in","z":"26461922.47e066","name":"","topic":"alert/red","qos":"2","datatype":"auto","broker":"7dff5e1a.9666b8","x":220,"y":180,"wires":[["885113fb.11912"]]},{"id":"5b154616.e0abc","type":"rpi-sensehat out","z":"26461922.47e066","name":"","x":1330,"y":860,"wires":[]},{"id":"e64e8a4f.c8a86","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227.90908813476562,"y":943.1818642616272,"wires":[["925efc1d.7e6f1"]]},{"id":"925efc1d.7e6f1","type":"function","z":"26461922.47e066","name":"White on Green","func":"msg.color = \"white\";\nmsg.background = \"green\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":860,"wires":[["5b154616.e0abc","786b462d.d395f","bb80448a.bf86e8"]]},{"id":"19fb829.c12cffd","type":"function","z":"26461922.47e066","name":"Black on Black","func":"msg.color = \"black\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":960,"wires":[["5b154616.e0abc","bb80448a.bf86e8"]]},{"id":"72247ee.385b48","type":"delay","z":"26461922.47e066","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":960,"wires":[["19fb829.c12cffd"]]},{"id":"786b462d.d395f","type":"change","z":"26461922.47e066","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":960,"wires":[["72247ee.385b48"]]},{"id":"e6ebaad1.0a33c","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1120,"wires":[["47258e7f.be758"]]},{"id":"47258e7f.be758","type":"mqtt out","z":"26461922.47e066","name":"","topic":"alert/green","qos":"","retain":"","broker":"7dff5e1a.9666b8","x":540,"y":1120,"wires":[]},{"id":"c9a2af99.217f6","type":"mqtt in","z":"26461922.47e066","name":"","topic":"alert/green","qos":"2","datatype":"auto","broker":"7dff5e1a.9666b8","x":220,"y":760,"wires":[["925efc1d.7e6f1"]]},{"id":"d0223f12.0110e8","type":"rpi-sensehat out","z":"26461922.47e066","name":"","x":1010,"y":1520,"wires":[]},{"id":"b411e9ae.eca25","type":"mqtt in","z":"26461922.47e066","name":"","topic":"alert","qos":"2","datatype":"auto","broker":"7dff5e1a.9666b8","x":190,"y":1640,"wires":[["b9b291ce.bcff68"]]},{"id":"470f4bf3.5630b4","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1520,"wires":[["b9b291ce.bcff68"]]},{"id":"b9b291ce.bcff68","type":"function","z":"26461922.47e066","name":"Yellow Text","func":"msg.color = \"yellow\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":1519,"wires":[["d0223f12.0110e8","f9f5d00.c285e3"]]},{"id":"c5cbdce0.bf0c38","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1780,"wires":[["4933f79e.0a8f18"]]},{"id":"4933f79e.0a8f18","type":"mqtt out","z":"26461922.47e066","name":"","topic":"alert/yellow","qos":"","retain":"","broker":"7dff5e1a.9666b8","x":520,"y":1780,"wires":[]},{"id":"f2e09426.2ca46","type":"mqtt in","z":"26461922.47e066","name":"","topic":"alert/yellow","qos":"2","datatype":"auto","broker":"7dff5e1a.9666b8","x":210,"y":1420,"wires":[["b9b291ce.bcff68"]]},{"id":"3a3817f3.8e6d6","type":"comment","z":"26461922.47e066","name":"This sets up the system to Display a Red Alert mesg on all Raspberry Pi","info":"","x":790,"y":60,"wires":[]},{"id":"8cb8f072.473f5","type":"comment","z":"26461922.47e066","name":"This sets up the system to Display a Green Alert mesg on all Raspberry Pi","info":"","x":760,"y":720,"wires":[]},{"id":"49a9d168.aebd2","type":"comment","z":"26461922.47e066","name":"This sets up the system to Display a Yellow Alert mesg on all Raspberry Pi","info":"","x":740,"y":1360,"wires":[]},{"id":"752e6357.c001ec","type":"comment","z":"26461922.47e066","name":"watch for anything sent over alert/red","info":"","x":310,"y":140,"wires":[]},{"id":"efb02e82.bf74e8","type":"comment","z":"26461922.47e066","name":"Change the formating of the message","info":"","x":530,"y":340,"wires":[]},{"id":"efbd7e63.1c85e","type":"comment","z":"26461922.47e066","name":"Change the formating of the message","info":"","x":530,"y":920,"wires":[]},{"id":"ed0466ae.a48078","type":"comment","z":"26461922.47e066","name":"Change the formating of the message","info":"","x":510,"y":1580,"wires":[]},{"id":"4ebcb93b.a93a6","type":"comment","z":"26461922.47e066","name":"Display the msg 2x on the screen","info":"","x":950,"y":280,"wires":[]},{"id":"a36d27ac.cec8c8","type":"comment","z":"26461922.47e066","name":"Change the scren back to black","info":"Since we just diplayed a msg that changed the background color, we need to set it back to black","x":830,"y":500,"wires":[]},{"id":"76c56a93.06cdbc","type":"comment","z":"26461922.47e066","name":"Change the scren back to black","info":"Since we just diplayed a msg that changed the background color, we need to set it back to black","x":770,"y":1040,"wires":[]},{"id":"ec85481b.79c55","type":"comment","z":"26461922.47e066","name":"Test Red Alert","info":"","x":270,"y":500,"wires":[]},{"id":"b7064ae3.f1f7a8","type":"comment","z":"26461922.47e066","name":"Test Green Alert","info":"","x":300,"y":1080,"wires":[]},{"id":"544a738d.6b475c","type":"comment","z":"26461922.47e066","name":"Test Yellow Alert","info":"","x":280,"y":1740,"wires":[]},{"id":"2607998.a9f4de6","type":"comment","z":"26461922.47e066","name":"Watch for anthing sent over alert","info":"","x":270,"y":1600,"wires":[]},{"id":"1f870061.8c1d18","type":"comment","z":"26461922.47e066","name":"Watch for anything sent over alert/green","info":"","x":310,"y":720,"wires":[]},{"id":"cf901ee2.de60f8","type":"comment","z":"26461922.47e066","name":"Watch for anything sent over alert/yellow","info":"","x":300,"y":1360,"wires":[]},{"id":"df544b48.53293","type":"rpi-sensehat in","z":"e103f6e1.59d668","name":"","motion":false,"env":true,"stick":false,"x":220,"y":320,"wires":[["baaca65d.e9873"]]},{"id":"baaca65d.e9873","type":"delay","z":"e103f6e1.59d668","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":320,"wires":[["9ee42411.5b759"]]},{"id":"a62f8f03.dcb348","type":"file","z":"e103f6e1.59d668","name":"","filename":"/var/lib/node_exporter/textfile/sensors.prom","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1150,"y":440,"wires":[[]]},{"id":"f98aa711.b969d","type":"comment","z":"e103f6e1.59d668","name":"This Flow take the current sensor settings and writes them to file that Promtheus picks up","info":"","x":730,"y":60,"wires":[]},{"id":"e0badd3c.6c35b","type":"debug","z":"e103f6e1.59d668","name":"Write Sensor data to nodeexporter text file","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":320,"wires":[]},{"id":"9ee42411.5b759","type":"function","z":"e103f6e1.59d668","name":"Set sensor Vaule","func":"temp_f = (msg.payload.temperature*1.8) + 32\nmsg.payload = 'Temp_c ' + msg.payload.temperature + '\\nTemp_f ' + temp_f   + '\\nHumidity ' + msg.payload.humidity +'\\nPressure ' + msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":320,"wires":[["e0badd3c.6c35b","a62f8f03.dcb348"]]},{"id":"2370fd35.f6d782","type":"comment","z":"e103f6e1.59d668","name":"Limit the amount to time to read and write data","info":"","x":460,"y":380,"wires":[]},{"id":"8bf03d73.eaf858","type":"comment","z":"e103f6e1.59d668","name":"Setup msg to be formatted properly for nodeexporter","info":"","x":820,"y":240,"wires":[]},{"id":"2e3355cf.56b582","type":"comment","z":"e103f6e1.59d668","name":"write the vaules to a file for nodeexporter to pick up","info":"","x":1170,"y":400,"wires":[]},{"id":"f78d8774.5d01","type":"mqtt in","z":"a005f408.99a35","name":"","topic":"ledMsg/table-1","qos":"2","datatype":"auto","broker":"47d37daa.0fbc04","x":280,"y":660,"wires":[["3e0a39ea.99d47e"]]},{"id":"4ec9b0b7.229768","type":"rpi-sensehat out","z":"a005f408.99a35","name":"","x":870,"y":660,"wires":[]},{"id":"d85d90a9.19c118","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":760,"wires":[["3e0a39ea.99d47e"]]},{"id":"3e0a39ea.99d47e","type":"function","z":"a005f408.99a35","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":660,"wires":[["4ec9b0b7.229768","9aefde74.44e1b"]]},{"id":"999a8380.85be28","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/table1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":860,"wires":[["47e00aba.110034"]]},{"id":"47e00aba.110034","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/1","qos":"","retain":"","broker":"47d37daa.0fbc04","x":790,"y":860,"wires":[]},{"id":"6d870db4.74a7bc","type":"rpi-sensehat out","z":"a005f408.99a35","name":"","x":890,"y":120,"wires":[]},{"id":"9e418e99.c643c8","type":"function","z":"a005f408.99a35","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["6d870db4.74a7bc","b415cfdc.68d84"]]},{"id":"86a5fc85.9d876","type":"comment","z":"a005f408.99a35","name":"Press button to display a msg on the local dispay","info":"","x":200,"y":60,"wires":[]},{"id":"55f33edc.d758e","type":"comment","z":"a005f408.99a35","name":"ledMsg/# will display a msg a specific table's display","info":"","x":210,"y":580,"wires":[]},{"id":"ae40e52.8823118","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":120,"wires":[["9e418e99.c643c8"]]},{"id":"6304243b.ece6dc","type":"comment","z":"a005f408.99a35","name":"Copy this flow to each Raspberry Pi and replace the Table number","info":"","x":740,"y":740,"wires":[]},{"id":"831d85d5.b2f39","type":"comment","z":"a005f408.99a35","name":"Press to test ledMsg/Tables/1","info":"This will send 'Test ledMSG/Tables/2' to the local LED","x":300,"y":860,"wires":[]},{"id":"fe00071b.c51b88","type":"comment","z":"a005f408.99a35","name":"This Flow requires MQTT running on a server at 10.0.10.100","info":"","x":1380,"y":260,"wires":[]},{"id":"4ba37f77.030f08","type":"mqtt in","z":"a005f408.99a35","name":"","topic":"ledMsg/all","qos":"2","datatype":"auto","broker":"47d37daa.0fbc04","x":300,"y":1060,"wires":[["2d710a31.c7765e"]]},{"id":"e176a71d.198be","type":"rpi-sensehat out","z":"a005f408.99a35","name":"","x":910,"y":1060,"wires":[]},{"id":"d8ba32f8.7ce3c","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":1160,"wires":[["2d710a31.c7765e"]]},{"id":"2d710a31.c7765e","type":"function","z":"a005f408.99a35","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1060,"wires":[["e176a71d.198be","693ab941.5ecbb8"]]},{"id":"cfaf932b.2dd398","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/tables","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1430,"y":1200,"wires":[["6a4c0531.91b81c"]]},{"id":"6a4c0531.91b81c","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/all","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1660,"y":1200,"wires":[]},{"id":"ee076c65.24f198","type":"comment","z":"a005f408.99a35","name":"ledMsg/Tables will display a msg on all displays","info":"","x":200,"y":1000,"wires":[]},{"id":"cd39cbba.d5e61","type":"comment","z":"a005f408.99a35","name":"Press to test ledMsg/Tables","info":"This will send 'Test ledMSG/Tables' to the local LED","x":1160,"y":1200,"wires":[]},{"id":"ad388d1d.05115","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":460,"wires":[["19eacdb7.509de2"]]},{"id":"19eacdb7.509de2","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/1","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":460,"wires":[]},{"id":"1caff043.115a88","type":"comment","z":"a005f408.99a35","name":"Press to test specific ledMsg/Tables/","info":"This will send 'Test ledMSG/Tables/1' to the local LED","x":1520,"y":400,"wires":[]},{"id":"e610f3ad.c67fa","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":520,"wires":[["e6192ce9.8af63"]]},{"id":"e6192ce9.8af63","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/2","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":520,"wires":[]},{"id":"d6bec1dc.fe0d48","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":580,"wires":[["6b08c14f.d03fb8"]]},{"id":"6b08c14f.d03fb8","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/3","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":580,"wires":[]},{"id":"4325ee65.d3ba58","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":640,"wires":[["afb0f064.83db78"]]},{"id":"afb0f064.83db78","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/4","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":640,"wires":[]},{"id":"db6ff5ac.b615f","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":700,"wires":[["b3fe06b0.cd2918"]]},{"id":"b3fe06b0.cd2918","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/5","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":700,"wires":[]},{"id":"f44d33ff.5330e8","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":760,"wires":[["de7fc47d.2ba38"]]},{"id":"de7fc47d.2ba38","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/6","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":760,"wires":[]},{"id":"eaa4cc3f.09899","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":820,"wires":[["40119e9d.a1f37"]]},{"id":"40119e9d.a1f37","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/7","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":820,"wires":[]},{"id":"b7182d2b.c55fd8","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":880,"wires":[["b4482cf3.cbcab"]]},{"id":"b4482cf3.cbcab","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/8","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":880,"wires":[]},{"id":"f251ff7e.17321","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/9","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":940,"wires":[["c37a3191.5cc08"]]},{"id":"c37a3191.5cc08","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/9","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":940,"wires":[]},{"id":"7b077247.5cf1c4","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":1000,"wires":[["fc8c7e9a.0dc628"]]},{"id":"fc8c7e9a.0dc628","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/10","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1660,"y":1000,"wires":[]},{"id":"5c9ff825.360f08","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/11","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":1060,"wires":[["d49c2905.776248"]]},{"id":"d49c2905.776248","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/11","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1660,"y":1060,"wires":[]},{"id":"3bdd61a7.5fd486","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"Test ledMsg/12","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":1120,"wires":[["ea096b11.342c4"]]},{"id":"ea096b11.342c4","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"ledMsg/12","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1660,"y":1120,"wires":[]},{"id":"a01d64b2.f0fa48","type":"rpi-sensehat out","z":"a005f408.99a35","name":"","x":690,"y":280,"wires":[]},{"id":"66960596.91d3ac","type":"mqtt in","z":"a005f408.99a35","name":"","topic":"msg","qos":"2","datatype":"auto","broker":"47d37daa.0fbc04","x":330,"y":280,"wires":[["a01d64b2.f0fa48"]]},{"id":"74a43a9.fc1a244","type":"comment","z":"a005f408.99a35","name":"Watch for anything on msg/ and pass the information to the SenseHat LED","info":"","x":280,"y":220,"wires":[]},{"id":"6f2206bc.63fcd","type":"inject","z":"a005f408.99a35","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":400,"y":400,"wires":[["3518cf91.1dc58"]]},{"id":"3518cf91.1dc58","type":"mqtt out","z":"a005f408.99a35","name":"","topic":"msg","qos":"","retain":"","broker":"47d37daa.0fbc04","x":750,"y":400,"wires":[]},{"id":"82bbd237.19ca48","type":"comment","z":"a005f408.99a35","name":"Press to Test msg","info":"","x":210,"y":400,"wires":[]},{"id":"5607ff3.bba9e","type":"comment","z":"a005f408.99a35","name":"cutomize msg to Blue text with Black back","info":"","x":660,"y":60,"wires":[]},{"id":"17f86b7c.a3ca9d","type":"comment","z":"a005f408.99a35","name":"Display on local Sense Hat","info":"","x":930,"y":200,"wires":[]},{"id":"b415cfdc.68d84","type":"debug","z":"a005f408.99a35","name":"Basic Led Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":60,"wires":[]},{"id":"649cb2b2.72d76c","type":"comment","z":"a005f408.99a35","name":"send test over msg/","info":"","x":930,"y":400,"wires":[]},{"id":"d07f56dd.097298","type":"comment","z":"a005f408.99a35","name":"cutomize msg to Blue text with Black back","info":"","x":680,"y":580,"wires":[]},{"id":"9aefde74.44e1b","type":"debug","z":"a005f408.99a35","name":"ledMsg/#","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":600,"wires":[]},{"id":"693ab941.5ecbb8","type":"debug","z":"a005f408.99a35","name":"ledMsg/all","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":980,"wires":[]},{"id":"ccf0bf28.8caeb","type":"comment","z":"765afee5.2191","name":"Limit the amount of data sent to the display","info":"The Raspberry Pi constantly reads the sensors.\n\nThis is a good thing if you want to gragh something but can quickly become overweleming.\n\nThis limits it to only running evey minute.","x":550,"y":580,"wires":[]},{"id":"27bed8a6.5ac188","type":"comment","z":"765afee5.2191","name":"Limit the amount of data sent to the display","info":"The Raspberry Pi constantly reads the sensors.\n\nThis is a good thing if you want to gragh something but can quickly become overweleming.\n\nThis limits it to only running evey minute.","x":550,"y":800,"wires":[]},{"id":"6d433ba0.b16ee4","type":"comment","z":"765afee5.2191","name":"Push Humidity vaules to sensor API","info":"","x":1500,"y":440,"wires":[]},{"id":"2be8028f.46711e","type":"comment","z":"765afee5.2191","name":"Push Pressue vaules to sensor API","info":"","x":1500,"y":640,"wires":[]},{"id":"71347061.0b445","type":"comment","z":"a0ffaf5.ee9675","name":"","info":"","x":1046.0908966064453,"y":214.99999800595367,"wires":[]},{"id":"5130acc4.efcb34","type":"comment","z":"a0ffaf5.ee9675","name":"Publish Temp in F to Web Dashboard ","info":"","x":1270,"y":460,"wires":[]},{"id":"7e072843.692b08","type":"comment","z":"a0ffaf5.ee9675","name":"Do Math to convert temp to F","info":"","x":840,"y":400,"wires":[]},{"id":"33ef2a9f.6e49f6","type":"comment","z":"a0ffaf5.ee9675","name":"Select just temp property","info":"","x":590,"y":120,"wires":[]},{"id":"c7bda0f8.c007a","type":"comment","z":"a0ffaf5.ee9675","name":"Select just temp property","info":"","x":590,"y":400,"wires":[]},{"id":"ebf8ea07.e59228","type":"comment","z":"a0ffaf5.ee9675","name":"Select just humidity property","info":"","x":640,"y":580,"wires":[]},{"id":"a172947e.db2798","type":"comment","z":"a0ffaf5.ee9675","name":"Select just pressure property","info":"","x":680,"y":820,"wires":[]},{"id":"7656fdb2.011214","type":"debug","z":"26461922.47e066","name":"alert/red on LED","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":260,"wires":[]},{"id":"bb80448a.bf86e8","type":"debug","z":"26461922.47e066","name":"alert/green on LED","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1290,"y":780,"wires":[]},{"id":"f9f5d00.c285e3","type":"debug","z":"26461922.47e066","name":"alert/yellow on LED","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":1440,"wires":[]},{"id":"d31594b2.f1b4e8","type":"comment","z":"a0ffaf5.ee9675","name":"Publish Humidity to Web Dashboard ","info":"","x":1120,"y":640,"wires":[]},{"id":"e2096352.b76bd","type":"comment","z":"a0ffaf5.ee9675","name":"Publish Publish to Web Dashboard ","info":"","x":1160,"y":860,"wires":[]}]