flows.json
[{"id":"a5eaaa27.0ae2b","type":"tab","label":"rpi - Basic input","disabled":false,"info":""},{"id":"f968291a.34d71","type":"tab","label":"rpi - ledMsg","disabled":false,"info":""},{"id":"765afee5.2191","type":"tab","label":"rpi - Read Sensors","disabled":false,"info":""},{"id":"a0ffaf5.ee9675","type":"tab","label":"rpi - Sensor Gauge","disabled":false,"info":""},{"id":"26461922.47e066","type":"tab","label":"rpi - Display Alert","disabled":false,"info":""},{"id":"e103f6e1.59d668","type":"tab","label":"rpi - Sensor  Write file","disabled":false,"info":""},{"id":"4b614962.b5d82","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"3acd5300.bfdaa6","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"acc91b3f.e85a58","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f21d82b1.0595f8","type":"hue-bridge","z":0,"name":"Office","bridge":"10.0.0.25","key":"2QI95kOUzjD2nwyuldofQkKw3cycZR65kLosNTKi","interval":"3000"},{"id":"a5280085.4c07d","type":"hue-bridge","z":"","name":"Lab hub","bridge":"10.0.0.27","key":"mfKumeEwL-bJi0h8B6EwJk21pV711CEnM3I7JgUF","interval":"3000"},{"id":"676eea52.33473c","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"55579424.bc12f4","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"95539cc8.1c6748","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"5aa107ca.1fd8d","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b3a82084.e07bd8","type":"ui_group","z":"","name":"Local Env","tab":"62146d49.30214c","disp":true,"width":"6","collapse":false},{"id":"c8ff1373.5ff03","type":"ui_group","z":"","name":"Tables","tab":"62146d49.30214c","order":2,"disp":true,"width":"6","collapse":false},{"id":"e312f75d.e73148","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"62146d49.30214c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"30dcae77.83a51a","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"f3b0e886.bd73c","type":"ui_group","z":"","name":"Local Env","tab":"8d04be0e.ea1f48","order":1,"disp":true,"width":"6","collapse":false},{"id":"93683d86.1fa808","type":"ui_group","z":"","name":"Temp on all Tables","tab":"1bd4eb3b.c6130d","order":2,"disp":true,"width":"6","collapse":false},{"id":"e2ebe2e6.018aa8","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"8d04be0e.ea1f48","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1bd4eb3b.c6130d","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"870d0cfd.75","type":"ui_group","z":"","name":"Temp on all Tables","tab":"8db3021b.0878d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9046254.da7ec58","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"46258d4f.7e0bfc","type":"ui_group","z":"","name":"Table 5-8","tab":"8db3021b.0878d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"ae60c57.5f447b8","type":"ui_group","z":"","name":"Table 9-12","tab":"8db3021b.0878d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"8db3021b.0878d8","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c646b048.6bea58","type":"ui_group","z":"","name":"Temp on all Tables","tab":"8d2ffb77.53796","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c324a2a.1c946e","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"880667f7.873d48","type":"ui_group","z":"","name":"Table 5-8","tab":"8d2ffb77.53796","order":3,"disp":true,"width":"6","collapse":false},{"id":"ae1f65b0.f6939","type":"ui_group","z":"","name":"Table 9-12","tab":"8d2ffb77.53796","order":4,"disp":true,"width":"6","collapse":false},{"id":"235b66aa.87df3a","type":"ui_group","z":"","name":"Table 1","tab":"22d3ebb8.ef61c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"a9140033.63e6d","type":"ui_group","z":"","name":"Table 2","tab":"22d3ebb8.ef61c4","order":2,"disp":true,"width":"6","collapse":false},{"id":"fbef3ff5.0f98c","type":"ui_group","z":"","name":"Table 3","tab":"22d3ebb8.ef61c4","order":3,"disp":true,"width":"6","collapse":false},{"id":"5025f4cf.68d70c","type":"ui_group","z":"","name":"Table 4","tab":"22d3ebb8.ef61c4","order":4,"disp":true,"width":"6","collapse":false},{"id":"b84e3f3b.08b068","type":"ui_group","z":"","name":"Table 5","tab":"22d3ebb8.ef61c4","order":5,"disp":true,"width":"6","collapse":false},{"id":"8d2ffb77.53796","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"22d3ebb8.ef61c4","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"44acf4df.23d454","type":"hue-bridge","z":"","name":"Lab hub","bridge":"10.0.0.27","key":"W2d8jOSjKZGiwn18hRo76GABWNyo7HSakSmOgQrM","interval":"3000"},{"id":"d246ccf7.f34228","type":"ui_group","z":"","name":"Buttons","tab":"1c66e6af.748799","disp":true,"width":"6","collapse":false},{"id":"1c66e6af.748799","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c57f2b3d.eff12","type":"ui_group","z":"","name":"Scene","tab":"1c66e6af.748799","order":2,"disp":true,"width":"6","collapse":false},{"id":"405d3e46.5d93","type":"ui_group","z":"","name":"Table 6","tab":"22d3ebb8.ef61c4","order":6,"disp":true,"width":"6","collapse":false},{"id":"f462f60.9055708","type":"ui_group","z":"","name":"Table 7","tab":"22d3ebb8.ef61c4","order":7,"disp":true,"width":"6","collapse":false},{"id":"c1747af3.48e178","type":"ui_group","z":"","name":"Table 8","tab":"22d3ebb8.ef61c4","order":8,"disp":true,"width":"6","collapse":false},{"id":"83229f34.49fcf8","type":"ui_group","z":"","name":"Table 9","tab":"22d3ebb8.ef61c4","order":9,"disp":true,"width":"6","collapse":false},{"id":"481e4925.efa1e","type":"ui_group","z":"","name":"Table 10","tab":"22d3ebb8.ef61c4","order":10,"disp":true,"width":"6","collapse":false},{"id":"9d179536.f41ae8","type":"ui_group","z":"","name":"Table 11","tab":"22d3ebb8.ef61c4","order":11,"disp":true,"width":"6","collapse":false},{"id":"5986ab71.c9ebbc","type":"ui_group","z":"","name":"Table 12","tab":"22d3ebb8.ef61c4","order":12,"disp":true,"width":"6","collapse":false},{"id":"20a42943.92c766","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7fa6fa92.c1ff5c","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"904ec3dd.1430f","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"485dc29c.b3fa44","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"97bf5c7b.616878","type":"hue-bridge","z":0,"name":"Office","bridge":"10.0.0.25","key":"2QI95kOUzjD2nwyuldofQkKw3cycZR65kLosNTKi","interval":"3000"},{"id":"91bb5b87.c7e8c8","type":"hue-bridge","z":"","name":"Lab hub","bridge":"10.0.0.27","key":"mfKumeEwL-bJi0h8B6EwJk21pV711CEnM3I7JgUF","interval":"3000"},{"id":"9a17b53b.6b4498","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f3c4746e.13816","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"fd9f0838.e4ca08","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2012a779.f08488","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"c657240c.cf32d","type":"ui_group","z":"","name":"Local Env","tab":"6ae3ed3b.e23fec","disp":true,"width":"6","collapse":false},{"id":"48249865.6b7d98","type":"ui_group","z":"","name":"Tables","tab":"6ae3ed3b.e23fec","order":2,"disp":true,"width":"6","collapse":false},{"id":"86b90929.5d032","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6ae3ed3b.e23fec","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"46803265.f88ecc","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"3d1873e0.0e1d04","type":"ui_group","z":"","name":"Local Env","tab":"50662553.5201e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a9f0bd1.a22214","type":"ui_group","z":"","name":"Temp on all Tables","tab":"b317816b.bbadb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c80323e.5099c6","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"50662553.5201e4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b317816b.bbadb8","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6ab6f5e2.eaca94","type":"ui_group","z":"","name":"Temp on all Tables","tab":"42dbf47f.4803dc","order":1,"disp":true,"width":"6","collapse":false},{"id":"83051630.fc5c08","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"e002f81.789c488","type":"ui_group","z":"","name":"Table 5-8","tab":"42dbf47f.4803dc","order":3,"disp":true,"width":"6","collapse":false},{"id":"93283d3e.9760f8","type":"ui_group","z":"","name":"Table 9-12","tab":"42dbf47f.4803dc","order":4,"disp":true,"width":"6","collapse":false},{"id":"42dbf47f.4803dc","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"103d8dcb.6e2b4a","type":"ui_group","z":"","name":"Temp on all Tables","tab":"40320c22.ab25fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"8bee7bb5.f64e6","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9f7ffa6a.f54968","type":"ui_group","z":"","name":"Table 5-8","tab":"40320c22.ab25fc","order":3,"disp":true,"width":"6","collapse":false},{"id":"cdc7c421.b60128","type":"ui_group","z":"","name":"Table 9-12","tab":"40320c22.ab25fc","order":4,"disp":true,"width":"6","collapse":false},{"id":"cf477baa.0ab98","type":"ui_group","z":"","name":"Table 1","tab":"18fd605c.7d6d98","order":1,"disp":true,"width":"6","collapse":false},{"id":"1020b042.a04648","type":"ui_group","z":"","name":"Table 2","tab":"18fd605c.7d6d98","order":2,"disp":true,"width":"6","collapse":false},{"id":"8ad2c48b.adbcf8","type":"ui_group","z":"","name":"Table 3","tab":"18fd605c.7d6d98","order":3,"disp":true,"width":"6","collapse":false},{"id":"263e799f.34fbbe","type":"ui_group","z":"","name":"Table 4","tab":"18fd605c.7d6d98","order":4,"disp":true,"width":"6","collapse":false},{"id":"4da2e539.0f8a9c","type":"ui_group","z":"","name":"Table 5","tab":"18fd605c.7d6d98","order":5,"disp":true,"width":"6","collapse":false},{"id":"40320c22.ab25fc","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"18fd605c.7d6d98","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"822f432.8f664c","type":"hue-bridge","z":"","name":"Lab hub","bridge":"10.0.0.27","key":"W2d8jOSjKZGiwn18hRo76GABWNyo7HSakSmOgQrM","interval":"3000"},{"id":"2bd1a8c3.07d82","type":"ui_group","z":"","name":"Buttons","tab":"cd384a7.fabd9b8","disp":true,"width":"6","collapse":false},{"id":"cd384a7.fabd9b8","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"8e40ee51.046498","type":"ui_group","z":"","name":"Scene","tab":"cd384a7.fabd9b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"391ff8f5.702fa","type":"ui_group","z":"","name":"Table 6","tab":"18fd605c.7d6d98","order":6,"disp":true,"width":"6","collapse":false},{"id":"212c4aa0.6cc9de","type":"ui_group","z":"","name":"Table 7","tab":"18fd605c.7d6d98","order":7,"disp":true,"width":"6","collapse":false},{"id":"71a2eb48.4e8e04","type":"ui_group","z":"","name":"Table 8","tab":"18fd605c.7d6d98","order":8,"disp":true,"width":"6","collapse":false},{"id":"45cee6d2.bc98e8","type":"ui_group","z":"","name":"Table 9","tab":"18fd605c.7d6d98","order":9,"disp":true,"width":"6","collapse":false},{"id":"77fa577a.8eaa2","type":"ui_group","z":"","name":"Table 10","tab":"18fd605c.7d6d98","order":10,"disp":true,"width":"6","collapse":false},{"id":"b0fcfa4d.21ae4","type":"ui_group","z":"","name":"Table 11","tab":"18fd605c.7d6d98","order":11,"disp":true,"width":"6","collapse":false},{"id":"fafba908.17ec58","type":"ui_group","z":"","name":"Table 12","tab":"18fd605c.7d6d98","order":12,"disp":true,"width":"6","collapse":false},{"id":"dc1b50a5.519f6","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"5665fa64.f0c434","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6ffa346d.7b74cc","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"2f6b552.5787e2a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"584e3e37.956428","type":"hue-bridge","z":0,"name":"Office","bridge":"10.0.0.25","key":"2QI95kOUzjD2nwyuldofQkKw3cycZR65kLosNTKi","interval":"3000"},{"id":"fd105cfa.3003a","type":"hue-bridge","z":"","name":"Lab hub","bridge":"10.0.0.27","key":"mfKumeEwL-bJi0h8B6EwJk21pV711CEnM3I7JgUF","interval":"3000"},{"id":"d0fdc2fd.3e856","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ea0d5e91.2c3628","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"fd1713c3.f29988","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"c86c336.027515","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"2f027758.87f3c8","type":"ui_group","z":"","name":"Local Env","tab":"f9756369.98658","disp":true,"width":"6","collapse":false},{"id":"aceaec33.192f08","type":"ui_group","z":"","name":"Tables","tab":"f9756369.98658","order":2,"disp":true,"width":"6","collapse":false},{"id":"845cca56.4bc588","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"f9756369.98658","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"cd21dbc2.e343e","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1f074a77.f6ab26","type":"ui_group","z":"","name":"Local Env","tab":"b0648792.080078","order":1,"disp":true,"width":"6","collapse":false},{"id":"d5c1ade.315edd","type":"ui_group","z":"","name":"Temp on all Tables","tab":"d02e5bf1.d3d44","order":2,"disp":true,"width":"6","collapse":false},{"id":"1306c65c.d2b7a2","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b0648792.080078","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d02e5bf1.d3d44","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"302632b4.ae27de","type":"ui_group","z":"","name":"Temp on all Tables","tab":"ff6ac80.5edd1b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"38e572a2.bb8bb6","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"e85b4941.b53668","type":"ui_group","z":"","name":"Table 5-8","tab":"ff6ac80.5edd1b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"d81c9ce7.544d2","type":"ui_group","z":"","name":"Table 9-12","tab":"ff6ac80.5edd1b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"ff6ac80.5edd1b8","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"cb719043.8faad","type":"ui_group","z":"","name":"Temp on all Tables","tab":"b07aed76.5e88e","order":1,"disp":true,"width":"6","collapse":false},{"id":"73d54dc8.124454","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"3871d130.240e1e","type":"ui_group","z":"","name":"Table 5-8","tab":"b07aed76.5e88e","order":3,"disp":true,"width":"6","collapse":false},{"id":"e20fa6e1.864368","type":"ui_group","z":"","name":"Table 9-12","tab":"b07aed76.5e88e","order":4,"disp":true,"width":"6","collapse":false},{"id":"a5de3da.be08c4","type":"ui_group","z":"","name":"Table 1","tab":"8b48123b.1c77d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"af6883fc.1e336","type":"ui_group","z":"","name":"Table 2","tab":"8b48123b.1c77d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a266092f.96b84","type":"ui_group","z":"","name":"Table 3","tab":"8b48123b.1c77d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"ef7eb504.678908","type":"ui_group","z":"","name":"Table 4","tab":"8b48123b.1c77d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"746b4f62.435e28","type":"ui_group","z":"","name":"Table 5","tab":"8b48123b.1c77d8","order":5,"disp":true,"width":"6","collapse":false},{"id":"b07aed76.5e88e","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8b48123b.1c77d8","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"9efd45d6.f73818","type":"hue-bridge","z":"","name":"Lab hub","bridge":"10.0.0.27","key":"W2d8jOSjKZGiwn18hRo76GABWNyo7HSakSmOgQrM","interval":"3000"},{"id":"f470529a.90b5a","type":"ui_group","z":"","name":"Buttons","tab":"aec9217b.85e79","disp":true,"width":"6","collapse":false},{"id":"aec9217b.85e79","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"f7c82553.9db128","type":"ui_group","z":"","name":"Scene","tab":"aec9217b.85e79","order":2,"disp":true,"width":"6","collapse":false},{"id":"6a1fbe9.eb1524","type":"ui_group","z":"","name":"Table 6","tab":"8b48123b.1c77d8","order":6,"disp":true,"width":"6","collapse":false},{"id":"9c0c4f17.1f7358","type":"ui_group","z":"","name":"Table 7","tab":"8b48123b.1c77d8","order":7,"disp":true,"width":"6","collapse":false},{"id":"44b161fa.e4b0e8","type":"ui_group","z":"","name":"Table 8","tab":"8b48123b.1c77d8","order":8,"disp":true,"width":"6","collapse":false},{"id":"1f5f3ba1.65a0d4","type":"ui_group","z":"","name":"Table 9","tab":"8b48123b.1c77d8","order":9,"disp":true,"width":"6","collapse":false},{"id":"dce7dd69.5ceed8","type":"ui_group","z":"","name":"Table 10","tab":"8b48123b.1c77d8","order":10,"disp":true,"width":"6","collapse":false},{"id":"a09545bd.b966a","type":"ui_group","z":"","name":"Table 11","tab":"8b48123b.1c77d8","order":11,"disp":true,"width":"6","collapse":false},{"id":"4f76e9ef.66ae88","type":"ui_group","z":"","name":"Table 12","tab":"8b48123b.1c77d8","order":12,"disp":true,"width":"6","collapse":false},{"id":"90b4814e.ad6d38","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"47d37daa.0fbc04","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"fff10124.ca36b","type":"ui_group","z":"","name":"Env","tab":"","disp":true,"width":"6","collapse":false},{"id":"e34cc61b.c856c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4f95030a.b893c4","type":"hue-bridge","z":0,"name":"Office","bridge":"10.0.0.25","key":"2QI95kOUzjD2nwyuldofQkKw3cycZR65kLosNTKi","interval":"3000"},{"id":"597d6338.c26f24","type":"hue-bridge","z":"","name":"Lab hub","bridge":"10.0.0.27","key":"mfKumeEwL-bJi0h8B6EwJk21pV711CEnM3I7JgUF","interval":"3000"},{"id":"596d7b8c.f40f54","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"a3787577.89c0a8","type":"ui_group","z":"","name":"Table 4","tab":"","disp":true,"width":"6","collapse":false},{"id":"831e5526.5d7fc","type":"ui_group","z":"","name":"Table 4","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2c451176.6dc806","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"6576a98e.1c16f","type":"ui_group","z":"","name":"Local Env","tab":"fb66818c.5de0a8","disp":true,"width":"6","collapse":false},{"id":"1c362691.b9e191","type":"ui_group","z":"","name":"Tables","tab":"fb66818c.5de0a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"aff867c0.0635c","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"fb66818c.5de0a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2bc1136c.452b64","type":"ui_tab","z":"","name":"Temp All Tables","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"efa4b938.870a2","type":"ui_group","z":"","name":"Local Env","tab":"7184ea67.479dd4","order":1,"disp":true,"width":"6","collapse":false},{"id":"c451429.15c4ec","type":"ui_group","z":"","name":"Temp on all Tables","tab":"af193345.7ff57","order":2,"disp":true,"width":"6","collapse":false},{"id":"914615dd.72f52","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"7184ea67.479dd4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"af193345.7ff57","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"50a05a62.75913c","type":"ui_group","z":"","name":"Temp on all Tables","tab":"1832da5c.0c2a9e","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe61307e.e62f","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"4ba7730a.00a334","type":"ui_group","z":"","name":"Table 5-8","tab":"1832da5c.0c2a9e","order":3,"disp":true,"width":"6","collapse":false},{"id":"e1480f39.3d3538","type":"ui_group","z":"","name":"Table 9-12","tab":"1832da5c.0c2a9e","order":4,"disp":true,"width":"6","collapse":false},{"id":"1832da5c.0c2a9e","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"23a8bbe5.1d1fe4","type":"ui_group","z":"","name":"Temp on all Tables","tab":"dbced31c.eee49","order":1,"disp":true,"width":"6","collapse":false},{"id":"fa5c835b.1631a8","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"e8364d0c.9c29d","type":"ui_group","z":"","name":"Table 5-8","tab":"dbced31c.eee49","order":3,"disp":true,"width":"6","collapse":false},{"id":"60d4f9ba.bc9878","type":"ui_group","z":"","name":"Table 9-12","tab":"dbced31c.eee49","order":4,"disp":true,"width":"6","collapse":false},{"id":"899427e9.ac3d7","type":"ui_group","z":"","name":"Table 1","tab":"a0ec5820.c4b3f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"936fbcc7.7bed18","type":"ui_group","z":"","name":"Table 2","tab":"a0ec5820.c4b3f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"77ef037a.5500ac","type":"ui_group","z":"","name":"Table 3","tab":"a0ec5820.c4b3f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"6713441.90b24bc","type":"ui_group","z":"","name":"Table 4","tab":"a0ec5820.c4b3f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"db7065d7.1d04c","type":"ui_group","z":"","name":"Table 5","tab":"a0ec5820.c4b3f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"dbced31c.eee49","type":"ui_tab","z":"","name":"Table Temps","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a0ec5820.c4b3f8","type":"ui_tab","z":"","name":"All Sensors","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"859dea51.f14508","type":"hue-bridge","z":"","name":"Lab hub","bridge":"10.0.0.27","key":"W2d8jOSjKZGiwn18hRo76GABWNyo7HSakSmOgQrM","interval":"3000"},{"id":"a2d6da75.f1d03","type":"ui_group","z":"","name":"Buttons","tab":"c9c98e4a.e0faa","disp":true,"width":"6","collapse":false},{"id":"c9c98e4a.e0faa","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"61f3048c.930754","type":"ui_group","z":"","name":"Scene","tab":"c9c98e4a.e0faa","order":2,"disp":true,"width":"6","collapse":false},{"id":"b67b4301.0a6f2","type":"ui_group","z":"","name":"Table 6","tab":"a0ec5820.c4b3f8","order":6,"disp":true,"width":"6","collapse":false},{"id":"62c7ead9.4b2654","type":"ui_group","z":"","name":"Table 7","tab":"a0ec5820.c4b3f8","order":7,"disp":true,"width":"6","collapse":false},{"id":"2d2ea188.2a0506","type":"ui_group","z":"","name":"Table 8","tab":"a0ec5820.c4b3f8","order":8,"disp":true,"width":"6","collapse":false},{"id":"56386742.373a88","type":"ui_group","z":"","name":"Table 9","tab":"a0ec5820.c4b3f8","order":9,"disp":true,"width":"6","collapse":false},{"id":"c4981a74.2170b8","type":"ui_group","z":"","name":"Table 10","tab":"a0ec5820.c4b3f8","order":10,"disp":true,"width":"6","collapse":false},{"id":"cf7b53f0.9ef11","type":"ui_group","z":"","name":"Table 11","tab":"a0ec5820.c4b3f8","order":11,"disp":true,"width":"6","collapse":false},{"id":"453e903a.cb05d","type":"ui_group","z":"","name":"Table 12","tab":"a0ec5820.c4b3f8","order":12,"disp":true,"width":"6","collapse":false},{"id":"7dff5e1a.9666b8","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"134b68dc.97d79f","type":"rpi-sensehat out","z":"a5eaaa27.0ae2b","name":"","x":1430,"y":500,"wires":[]},{"id":"6c09a19e.4d15f","type":"hostip","z":"a5eaaa27.0ae2b","name":"Host IP","x":800,"y":280,"wires":[["c23cba04.536c6"]]},{"id":"c23cba04.536c6","type":"function","z":"a5eaaa27.0ae2b","name":"Host IP Address","func":"msg.payload = msg.payload[0].address\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":400,"wires":[["134b68dc.97d79f"]]},{"id":"25236927.fcae3e","type":"rpi-sensehat in","z":"a5eaaa27.0ae2b","name":"","motion":false,"env":false,"stick":true,"x":180,"y":500,"wires":[["5e4839d1.52ff08","b104cff3.dc4488"]]},{"id":"5e4839d1.52ff08","type":"debug","z":"a5eaaa27.0ae2b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":380,"wires":[]},{"id":"b1947ef9.2cf0d","type":"mqtt in","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/1","qos":"2","datatype":"auto","broker":"47d37daa.0fbc04","x":280,"y":460,"wires":[["aa4484d7.4d299"]]},{"id":"5b854f46.d8ebe8","type":"rpi-sensehat out","z":"f968291a.34d71","name":"","x":870,"y":460,"wires":[]},{"id":"27959360.ad8f14","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":560,"wires":[["aa4484d7.4d299"]]},{"id":"aa4484d7.4d299","type":"function","z":"f968291a.34d71","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":460,"wires":[["5b854f46.d8ebe8"]]},{"id":"53315e1c.4edb28","type":"rpi-sensehat in","z":"765afee5.2191","name":"","motion":false,"env":true,"stick":false,"x":230,"y":251,"wires":[["574fbc30.044014"]]},{"id":"2e14ccc2.46665c","type":"debug","z":"765afee5.2191","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1024,"y":212,"wires":[]},{"id":"574fbc30.044014","type":"delay","z":"765afee5.2191","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":523,"y":252,"wires":[["3448b87.b0aa0c8"]]},{"id":"3448b87.b0aa0c8","type":"change","z":"765afee5.2191","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":779,"y":244,"wires":[["2e14ccc2.46665c","f309c592.d1b83"]]},{"id":"c3c2ff0a.20a728","type":"rpi-sensehat in","z":"765afee5.2191","name":"","motion":false,"env":true,"stick":false,"x":237.27272033691406,"y":508.1817932128906,"wires":[["b9a89ddd.68c678"]]},{"id":"7fc93cf9.0d9834","type":"debug","z":"765afee5.2191","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1031.272720336914,"y":469.1817932128906,"wires":[]},{"id":"b9a89ddd.68c678","type":"delay","z":"765afee5.2191","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530.2727203369141,"y":509.1817932128906,"wires":[["bd4ef365.7685b8"]]},{"id":"bd4ef365.7685b8","type":"change","z":"765afee5.2191","name":"Set Msg to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":796.2727203369141,"y":501.1817932128906,"wires":[["7fc93cf9.0d9834","4da90ad3.dd69f4"]]},{"id":"6d9ae226.ead9f4","type":"rpi-sensehat in","z":"765afee5.2191","name":"","motion":false,"env":true,"stick":false,"x":220.90908813476562,"y":710.9090576171875,"wires":[["5ca208cd.9464f"]]},{"id":"e4339027.f1d7e","type":"debug","z":"765afee5.2191","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1014.9090881347656,"y":671.9090576171875,"wires":[]},{"id":"5ca208cd.9464f","type":"delay","z":"765afee5.2191","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":513.9090881347656,"y":711.9090576171875,"wires":[["846338e3.ac50f8"]]},{"id":"846338e3.ac50f8","type":"change","z":"765afee5.2191","name":"Set Msg to Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":779.9090881347656,"y":703.9090576171875,"wires":[["e4339027.f1d7e","32947ff2.8f3e98"]]},{"id":"8636be62.fa4018","type":"comment","z":"765afee5.2191","name":"Limit the amount of data sent to the display","info":"The Raspberry Pi constantly reads the sensors.\n\nThis is a good thing if you want to gragh something but can quickly become overweleming.\n\nThis limits it to only running evey minute.","x":550,"y":340,"wires":[]},{"id":"6ed25650.d8c46","type":"comment","z":"765afee5.2191","name":"Set the Msg to the Temp","info":"This function grabs the temp from the object that is sent by the Raspberry Pi.","x":807,"y":187,"wires":[]},{"id":"3a162a92.ffd95e","type":"comment","z":"765afee5.2191","name":"Select Environment events","info":"Select Environment events","x":279,"y":201,"wires":[]},{"id":"e91e8e63.abd5b8","type":"comment","z":"765afee5.2191","name":"Send to the local Display","info":"","x":1086,"y":360,"wires":[]},{"id":"70eed1a0.d0f7","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":660,"wires":[["59b4e105.9755c8"]]},{"id":"59b4e105.9755c8","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/2","qos":"","retain":"","broker":"47d37daa.0fbc04","x":810,"y":660,"wires":[]},{"id":"df2b4e3f.8495b8","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":280,"wires":[["88d72ca.f8df55"]]},{"id":"88d72ca.f8df55","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg","qos":"","retain":"","broker":"47d37daa.0fbc04","x":770,"y":280,"wires":[]},{"id":"49885a6d.d85abc","type":"mqtt in","z":"f968291a.34d71","name":"","topic":"ledMsg","qos":"2","datatype":"auto","broker":"47d37daa.0fbc04","x":330,"y":120,"wires":[["91652e5f.97cf08"]]},{"id":"a4fcda06.ad6328","type":"rpi-sensehat out","z":"f968291a.34d71","name":"","x":890,"y":120,"wires":[]},{"id":"91652e5f.97cf08","type":"function","z":"f968291a.34d71","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["a4fcda06.ad6328"]]},{"id":"f18f407d.1313d8","type":"comment","z":"f968291a.34d71","name":"ledMsg will display a msg on the local dispay","info":"","x":210,"y":60,"wires":[]},{"id":"901c9238.d96358","type":"comment","z":"f968291a.34d71","name":"Press to test ledMsg","info":"This will send 'Test ledMSG' to the local LED","x":270,"y":280,"wires":[]},{"id":"c204dfb9.44f2e","type":"comment","z":"f968291a.34d71","name":"ledMsg/Tables/# will display a msg a specific table's display","info":"","x":260,"y":380,"wires":[]},{"id":"1567aeac.9dcf59","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["91652e5f.97cf08"]]},{"id":"34dd055a.ef1e6a","type":"comment","z":"f968291a.34d71","name":"Copy this flow to each Raspberry Pi and replace the Table number","info":"","x":740,"y":540,"wires":[]},{"id":"e9a38b65.8b662","type":"comment","z":"f968291a.34d71","name":"Press to test ledMsg/Tables/1","info":"This will send 'Test ledMSG/Tables/2' to the local LED","x":300,"y":660,"wires":[]},{"id":"a8f138f9.7c679","type":"comment","z":"f968291a.34d71","name":"This Flow requires MQTT running on a server at 10.0.10.100","info":"","x":1380,"y":260,"wires":[]},{"id":"6b8b2fe1.fe5048","type":"mqtt in","z":"f968291a.34d71","name":"","topic":"ledMsg/tables","qos":"2","datatype":"auto","broker":"47d37daa.0fbc04","x":270,"y":880,"wires":[["fd43b661.a24c08"]]},{"id":"2fec4d01.0e1b12","type":"rpi-sensehat out","z":"f968291a.34d71","name":"","x":870,"y":880,"wires":[]},{"id":"f7592959.e92848","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":980,"wires":[["fd43b661.a24c08"]]},{"id":"fd43b661.a24c08","type":"function","z":"f968291a.34d71","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":880,"wires":[["2fec4d01.0e1b12"]]},{"id":"5fdf82cb.a5d8b4","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":1080,"wires":[["96398838.50e3f8"]]},{"id":"96398838.50e3f8","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables","qos":"","retain":"","broker":"47d37daa.0fbc04","x":810,"y":1080,"wires":[]},{"id":"3795505c.ec6a9","type":"comment","z":"f968291a.34d71","name":"ledMsg/Tables will display a msg on all displays","info":"","x":220,"y":800,"wires":[]},{"id":"8412ba34.6a1c08","type":"comment","z":"f968291a.34d71","name":"Press to test ledMsg/Tables","info":"This will send 'Test ledMSG/Tables' to the local LED","x":300,"y":1080,"wires":[]},{"id":"a087955e.cd4d78","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":460,"wires":[["8c3f85ad.b7abf"]]},{"id":"8c3f85ad.b7abf","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/1","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":460,"wires":[]},{"id":"9b242146.8cca6","type":"comment","z":"f968291a.34d71","name":"Press to test specific ledMsg/Tables/","info":"This will send 'Test ledMSG/Tables/1' to the local LED","x":1520,"y":400,"wires":[]},{"id":"f08bbbcb.6de9d","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":520,"wires":[["b76d2d59.63eb"]]},{"id":"b76d2d59.63eb","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/2","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":520,"wires":[]},{"id":"4e94b5e7.0ca6d4","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":580,"wires":[["687ce38b.a3c074"]]},{"id":"687ce38b.a3c074","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/3","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":580,"wires":[]},{"id":"2dde7cdb.0f6d44","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":640,"wires":[["8fe81c6.2e8dd6"]]},{"id":"8fe81c6.2e8dd6","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/4","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":640,"wires":[]},{"id":"afef0d10.9d12e8","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":700,"wires":[["3ef8c1b5.a2373e"]]},{"id":"3ef8c1b5.a2373e","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/5","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":700,"wires":[]},{"id":"2fdac1e5.f22b3e","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":760,"wires":[["d93fa81.99d3dd8"]]},{"id":"d93fa81.99d3dd8","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/6","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":760,"wires":[]},{"id":"f309c592.d1b83","type":"mqtt out","z":"765afee5.2191","name":"","topic":"sensor/1/temp","qos":"","retain":"","broker":"596d7b8c.f40f54","x":1440,"y":240,"wires":[]},{"id":"4da90ad3.dd69f4","type":"mqtt out","z":"765afee5.2191","name":"","topic":"sensor/1/humidity","qos":"","retain":"","broker":"596d7b8c.f40f54","x":1450,"y":500,"wires":[]},{"id":"32947ff2.8f3e98","type":"mqtt out","z":"765afee5.2191","name":"","topic":"sensor/1/pressure","qos":"","retain":"","broker":"596d7b8c.f40f54","x":1450,"y":700,"wires":[]},{"id":"5c4e4894.d02a68","type":"comment","z":"765afee5.2191","name":"Push vaules to sensor API","info":"","x":1470,"y":160,"wires":[]},{"id":"1f7b659d.19baaa","type":"comment","z":"765afee5.2191","name":"Needs to be updated for every Table","info":"","x":1520,"y":360,"wires":[]},{"id":"7894713.a9f209","type":"ui_gauge","z":"a0ffaf5.ee9675","name":"","group":"efa4b938.870a2","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp in F","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1033.9091033935547,"y":265.00000199404633,"wires":[]},{"id":"227e0c50.52f68c","type":"rpi-sensehat in","z":"a0ffaf5.ee9675","name":"","motion":false,"env":true,"stick":false,"x":333.0909118652344,"y":264.6363525390625,"wires":[["adf76852.339178"]]},{"id":"e1f3d6d5.45764","type":"debug","z":"a0ffaf5.ee9675","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1042,"y":353.9090881347656,"wires":[]},{"id":"e335be8d.b06bd","type":"ui_gauge","z":"a0ffaf5.ee9675","name":"","group":"efa4b938.870a2","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":895.999984741211,"y":518.9999714764682,"wires":[]},{"id":"9b3ed3bf.a1663","type":"rpi-sensehat in","z":"a0ffaf5.ee9675","name":"","motion":false,"env":true,"stick":false,"x":364.1817893981935,"y":522.6363240155307,"wires":[["3e5e6000.39dff8"]]},{"id":"3e5e6000.39dff8","type":"change","z":"a0ffaf5.ee9675","name":"Set Msg to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":637.1818084716798,"y":524.9090596112338,"wires":[["e335be8d.b06bd","fe8451b0.b4dc48"]]},{"id":"fe8451b0.b4dc48","type":"debug","z":"a0ffaf5.ee9675","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":885.0908813476562,"y":629.9090576171875,"wires":[]},{"id":"7a11fd30.5195ac","type":"ui_gauge","z":"a0ffaf5.ee9675","name":"","group":"efa4b938.870a2","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":925.8181953430176,"y":746,"wires":[]},{"id":"d3061eae.500ab8","type":"rpi-sensehat in","z":"a0ffaf5.ee9675","name":"","motion":false,"env":true,"stick":false,"x":394,"y":749.6363525390625,"wires":[["c1cda34d.675de8"]]},{"id":"c1cda34d.675de8","type":"change","z":"a0ffaf5.ee9675","name":"Set Msg to Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":667.0000190734863,"y":751.9090881347656,"wires":[["7a11fd30.5195ac","16b59319.1fae65"]]},{"id":"16b59319.1fae65","type":"debug","z":"a0ffaf5.ee9675","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":914.9090919494628,"y":856.9090861407193,"wires":[]},{"id":"9aa4e8f2.a2ab4","type":"comment","z":"a0ffaf5.ee9675","name":"To view Gauges go to ip:1880/ui","info":"This is a nother note\n[https://10.0.0.150]()","x":1330,"y":40,"wires":[]},{"id":"f0759e5a.c0c3c","type":"ui_gauge","z":"a0ffaf5.ee9675","name":"","group":"efa4b938.870a2","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp in C","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":849,"y":55,"wires":[]},{"id":"ad78f12d.986c58","type":"rpi-sensehat in","z":"a0ffaf5.ee9675","name":"","motion":false,"env":true,"stick":false,"x":317.1818046569824,"y":58.6363525390625,"wires":[["697d88ef.706f8"]]},{"id":"697d88ef.706f8","type":"change","z":"a0ffaf5.ee9675","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":584.1817932128906,"y":57.909088134765625,"wires":[["f0759e5a.c0c3c","86ff4931.c03128"]]},{"id":"86ff4931.c03128","type":"debug","z":"a0ffaf5.ee9675","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":838.0908966064452,"y":165.9090861407193,"wires":[]},{"id":"adf76852.339178","type":"change","z":"a0ffaf5.ee9675","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":605.0908813476562,"y":263.9090881347656,"wires":[["801f7c4e.07f178"]]},{"id":"801f7c4e.07f178","type":"function","z":"a0ffaf5.ee9675","name":"Change to F","func":"msg.payload  = (msg.payload*1.8) + 32;\nreturn msg;","outputs":1,"noerr":0,"x":855,"y":265,"wires":[["7894713.a9f209","e1f3d6d5.45764"]]},{"id":"fc92625e.d229d","type":"comment","z":"a0ffaf5.ee9675","name":"","info":"","x":983,"y":56,"wires":[]},{"id":"5fcd7984.c68a08","type":"comment","z":"765afee5.2191","name":"This reads the current sensor value and posts it to sensor/table#/temp...","info":"","x":590,"y":80,"wires":[]},{"id":"891bfff4.d60088","type":"comment","z":"a5eaaa27.0ae2b","name":"Format Msg","info":"","x":1110,"y":340,"wires":[]},{"id":"79588ae4.d90384","type":"comment","z":"a5eaaa27.0ae2b","name":"Read button press","info":"","x":210,"y":220,"wires":[]},{"id":"a8652d97.d01488","type":"comment","z":"a5eaaa27.0ae2b","name":"get current IP address","info":"","x":820,"y":220,"wires":[]},{"id":"b104cff3.dc4488","type":"switch","z":"a5eaaa27.0ae2b","name":"","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"ENTER","vt":"str"},{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":450,"y":500,"wires":[["6c09a19e.4d15f"],["3e05f664.9c611a"],["8292f8db.0fe9b8"],["7205b43e.09e07c"],["84d133a0.c69d98"]]},{"id":"3e05f664.9c611a","type":"change","z":"a5eaaa27.0ae2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"UP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":440,"wires":[["134b68dc.97d79f"]]},{"id":"8292f8db.0fe9b8","type":"change","z":"a5eaaa27.0ae2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":500,"wires":[["134b68dc.97d79f"]]},{"id":"7205b43e.09e07c","type":"change","z":"a5eaaa27.0ae2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":560,"wires":[["134b68dc.97d79f"]]},{"id":"84d133a0.c69d98","type":"change","z":"a5eaaa27.0ae2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":620,"wires":[["134b68dc.97d79f"]]},{"id":"2fd4ef62.fcdb8","type":"rpi-sensehat out","z":"26461922.47e066","name":"","x":1350,"y":400,"wires":[]},{"id":"649ad2a6.2dc504","type":"looptimer","z":"26461922.47e066","duration":"10","units":"Second","maxloops":"1","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":840,"y":331,"wires":[["2fd4ef62.fcdb8"],["8156e990.ade05"]]},{"id":"6298565d.30c9d","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227.90908813476562,"y":363.1818642616272,"wires":[["885113fb.11912"]]},{"id":"885113fb.11912","type":"function","z":"26461922.47e066","name":"White on Red","func":"msg.color = \"white\";\nmsg.background = \"red\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":279,"wires":[["649ad2a6.2dc504"]]},{"id":"537a0031.88e6f","type":"rpi-sensehat out","z":"26461922.47e066","name":"","x":1397.5,"y":685,"wires":[]},{"id":"c73bddd4.54b1b8","type":"function","z":"26461922.47e066","name":"Black on Black","func":"msg.color = \"black\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":953.5,"y":622,"wires":[["537a0031.88e6f"]]},{"id":"65af9e2d.502828","type":"delay","z":"26461922.47e066","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030.5,"y":464,"wires":[["c73bddd4.54b1b8"]]},{"id":"8156e990.ade05","type":"change","z":"26461922.47e066","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":935.5,"y":411,"wires":[["65af9e2d.502828"]]},{"id":"208987b9.509038","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":540,"wires":[["e6692544.1d0b7"]]},{"id":"e6692544.1d0b7","type":"mqtt out","z":"26461922.47e066","name":"","topic":"alert/red","qos":"","retain":"","broker":"7dff5e1a.9666b8","x":530,"y":540,"wires":[]},{"id":"9b088946.a65858","type":"mqtt in","z":"26461922.47e066","name":"","topic":"alert/red","qos":"2","datatype":"auto","broker":"7dff5e1a.9666b8","x":220,"y":180,"wires":[["885113fb.11912"]]},{"id":"5b154616.e0abc","type":"rpi-sensehat out","z":"26461922.47e066","name":"","x":1330,"y":860,"wires":[]},{"id":"e64e8a4f.c8a86","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227.90908813476562,"y":943.1818642616272,"wires":[["925efc1d.7e6f1"]]},{"id":"925efc1d.7e6f1","type":"function","z":"26461922.47e066","name":"White on Green","func":"msg.color = \"white\";\nmsg.background = \"green\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":860,"wires":[["5b154616.e0abc","786b462d.d395f"]]},{"id":"19fb829.c12cffd","type":"function","z":"26461922.47e066","name":"Black on Black","func":"msg.color = \"black\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":1160,"y":960,"wires":[["5b154616.e0abc"]]},{"id":"72247ee.385b48","type":"delay","z":"26461922.47e066","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":960,"wires":[["19fb829.c12cffd"]]},{"id":"786b462d.d395f","type":"change","z":"26461922.47e066","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":960,"wires":[["72247ee.385b48"]]},{"id":"e6ebaad1.0a33c","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":1120,"wires":[["47258e7f.be758"]]},{"id":"47258e7f.be758","type":"mqtt out","z":"26461922.47e066","name":"","topic":"alert/green","qos":"","retain":"","broker":"7dff5e1a.9666b8","x":540,"y":1120,"wires":[]},{"id":"c9a2af99.217f6","type":"mqtt in","z":"26461922.47e066","name":"","topic":"alert/green","qos":"2","datatype":"auto","broker":"7dff5e1a.9666b8","x":220,"y":760,"wires":[["925efc1d.7e6f1"]]},{"id":"d0223f12.0110e8","type":"rpi-sensehat out","z":"26461922.47e066","name":"","x":1330,"y":1640,"wires":[]},{"id":"b411e9ae.eca25","type":"mqtt in","z":"26461922.47e066","name":"","topic":"alert","qos":"2","datatype":"auto","broker":"7dff5e1a.9666b8","x":190,"y":1640,"wires":[["b9b291ce.bcff68"]]},{"id":"470f4bf3.5630b4","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1520,"wires":[["b9b291ce.bcff68"]]},{"id":"b9b291ce.bcff68","type":"function","z":"26461922.47e066","name":"Yellow Text","func":"msg.color = \"yellow\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nreturn msg;","outputs":1,"noerr":0,"x":479,"y":1519,"wires":[["d0223f12.0110e8"]]},{"id":"c5cbdce0.bf0c38","type":"inject","z":"26461922.47e066","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1780,"wires":[["4933f79e.0a8f18"]]},{"id":"4933f79e.0a8f18","type":"mqtt out","z":"26461922.47e066","name":"","topic":"alert/yellow","qos":"","retain":"","broker":"7dff5e1a.9666b8","x":520,"y":1780,"wires":[]},{"id":"f2e09426.2ca46","type":"mqtt in","z":"26461922.47e066","name":"","topic":"alert/yellow","qos":"2","datatype":"auto","broker":"7dff5e1a.9666b8","x":210,"y":1420,"wires":[["b9b291ce.bcff68"]]},{"id":"3a3817f3.8e6d6","type":"comment","z":"26461922.47e066","name":"This sets up the system to Display a Red Alert mesg on all Raspberry Pi","info":"","x":790,"y":60,"wires":[]},{"id":"8cb8f072.473f5","type":"comment","z":"26461922.47e066","name":"This sets up the system to Display a Green Alert mesg on all Raspberry Pi","info":"","x":760,"y":720,"wires":[]},{"id":"49a9d168.aebd2","type":"comment","z":"26461922.47e066","name":"This sets up the system to Display a Yellow Alert mesg on all Raspberry Pi","info":"","x":740,"y":1360,"wires":[]},{"id":"752e6357.c001ec","type":"comment","z":"26461922.47e066","name":"watch for anything sent over alert/red","info":"","x":310,"y":140,"wires":[]},{"id":"efb02e82.bf74e8","type":"comment","z":"26461922.47e066","name":"Change the formating of the message","info":"","x":530,"y":340,"wires":[]},{"id":"efbd7e63.1c85e","type":"comment","z":"26461922.47e066","name":"Change the formating of the message","info":"","x":530,"y":920,"wires":[]},{"id":"ed0466ae.a48078","type":"comment","z":"26461922.47e066","name":"Change the formating of the message","info":"","x":510,"y":1580,"wires":[]},{"id":"4ebcb93b.a93a6","type":"comment","z":"26461922.47e066","name":"Display the msg 2x on the screen","info":"","x":950,"y":280,"wires":[]},{"id":"a36d27ac.cec8c8","type":"comment","z":"26461922.47e066","name":"Change the scren back to black","info":"Since we just diplayed a msg that changed the background color, we need to set it back to black","x":770,"y":480,"wires":[]},{"id":"76c56a93.06cdbc","type":"comment","z":"26461922.47e066","name":"Change the scren back to black","info":"Since we just diplayed a msg that changed the background color, we need to set it back to black","x":770,"y":1040,"wires":[]},{"id":"ec85481b.79c55","type":"comment","z":"26461922.47e066","name":"Test Red Alert","info":"","x":270,"y":500,"wires":[]},{"id":"b7064ae3.f1f7a8","type":"comment","z":"26461922.47e066","name":"Test Green Alert","info":"","x":300,"y":1080,"wires":[]},{"id":"544a738d.6b475c","type":"comment","z":"26461922.47e066","name":"Test Yellow Alert","info":"","x":280,"y":1740,"wires":[]},{"id":"2607998.a9f4de6","type":"comment","z":"26461922.47e066","name":"Watch for anthing sent over alert","info":"","x":270,"y":1600,"wires":[]},{"id":"1f870061.8c1d18","type":"comment","z":"26461922.47e066","name":"Watch for anything sent over alert/green","info":"","x":310,"y":720,"wires":[]},{"id":"cf901ee2.de60f8","type":"comment","z":"26461922.47e066","name":"Watch for anything sent over alert/yellow","info":"","x":300,"y":1360,"wires":[]},{"id":"df544b48.53293","type":"rpi-sensehat in","z":"e103f6e1.59d668","name":"","motion":false,"env":true,"stick":false,"x":220,"y":320,"wires":[["baaca65d.e9873"]]},{"id":"baaca65d.e9873","type":"delay","z":"e103f6e1.59d668","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":320,"wires":[["9ee42411.5b759"]]},{"id":"a62f8f03.dcb348","type":"file","z":"e103f6e1.59d668","name":"","filename":"/var/lib/node_exporter/textfile/sensors.prom","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1150,"y":440,"wires":[[]]},{"id":"f98aa711.b969d","type":"comment","z":"e103f6e1.59d668","name":"This Flow take the current sensor settings and writes them to file that Promtheus picks up","info":"","x":730,"y":60,"wires":[]},{"id":"e0badd3c.6c35b","type":"debug","z":"e103f6e1.59d668","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":320,"wires":[]},{"id":"9ee42411.5b759","type":"function","z":"e103f6e1.59d668","name":"set temp","func":"temp_f = (msg.payload.temperature*1.8) + 32\nmsg.payload = 'Temp_c ' + msg.payload.temperature + '\\nTemp_f ' + temp_f   + '\\nHumidity ' + msg.payload.humidity +'\\nPressure ' + msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":320,"wires":[["e0badd3c.6c35b","a62f8f03.dcb348"]]},{"id":"2370fd35.f6d782","type":"comment","z":"e103f6e1.59d668","name":"Limit the amount to time to read and write data","info":"","x":460,"y":380,"wires":[]},{"id":"8bf03d73.eaf858","type":"comment","z":"e103f6e1.59d668","name":"Setup msg to be formatted properly for nodeexporter","info":"","x":820,"y":240,"wires":[]},{"id":"2e3355cf.56b582","type":"comment","z":"e103f6e1.59d668","name":"write the vaules to a file for nodeexporter to pick up","info":"","x":1170,"y":400,"wires":[]},{"id":"10c0782.5915908","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":820,"wires":[["b9061543.da1268"]]},{"id":"b9061543.da1268","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/7","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":820,"wires":[]},{"id":"c3b273c1.bc97a8","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":880,"wires":[["6db95921.8b9e4"]]},{"id":"6db95921.8b9e4","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/8","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":880,"wires":[]},{"id":"c92514eb.3da4c","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/9","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":940,"wires":[["9783f88b.9b4ed8"]]},{"id":"9783f88b.9b4ed8","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/9","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1650,"y":940,"wires":[]},{"id":"44ed8fff.e427e8","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":1000,"wires":[["76332523.1a427c"]]},{"id":"76332523.1a427c","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/10","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1660,"y":1000,"wires":[]},{"id":"3036b39b.974344","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/11","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":1060,"wires":[["c79d0a11.2a0698"]]},{"id":"c79d0a11.2a0698","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/11","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1660,"y":1060,"wires":[]},{"id":"d3d21e18.3a4e88","type":"inject","z":"f968291a.34d71","name":"","topic":"","payload":"Test ledMsg/tables/12","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1420,"y":1120,"wires":[["5522bd4f.96e44c"]]},{"id":"5522bd4f.96e44c","type":"mqtt out","z":"f968291a.34d71","name":"","topic":"ledMsg/tables/12","qos":"","retain":"","broker":"47d37daa.0fbc04","x":1660,"y":1120,"wires":[]}]